body {
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: $clr-bg;
    font-size: 14px;
    color: $clr-text;
    font-family: $font-sans;
    scroll-behavior: smooth;
}

a {
    text-decoration: none!important;
}

.btn-theme{
    padding: 6px 12px;
    border-radius: 5px;
    display: block;
    width: 200px;
    outline: none;
    border: none;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    background-color: $clr-sec!important; 

    color: white;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.42857143;
}

.btn-theme-sec{
    padding: 12px;
    border-radius: 5px;
    border: 3px solid $clr-sec!important;
    outline: none;
    border: none;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    color: black!important; 

    color: white;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.42857143;
}


.bg-theme { background-color: $clr-theme; }


.table-sortable .th-sort-asc::after {
    content: "\25b4";
}

.table-sortable .th-sort-desc::after {
    content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
    margin-left: 5px;
}